@tailwind base;
@tailwind components;
@tailwind utilities;


*,
::after,
::before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  transition: all .1s linear;
}

html,
body {
  -webkit-tap-highlight-color: transparent;
  color: var(--text-primary);
  overflow: hidden;
}

img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

.main {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: var(--layout-bg);
  background-repeat: no-repeat;
  background-size: 1920px auto;
  height: 100vh;
  width: 100%;
  display: flex;
}

.icon {
    border-radius: 4px;
    display: inline-block;
    flex-shrink: 0;
    font-size: 24px;
    height: 24px;
    line-height: 66%;
    width: 24px;
    position: relative;
}
.icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
transform: translate(-50%, -50%);
}
.box-shadow-queue {
  box-shadow: var(--box-shadow-queue);
}


/*  */
input[type="range"] {
  -webkit-appearance: none;
  height: 4px;
  background: var(--progressbar-player-bg);
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  margin-top: 4px;
}
input[type="range"]:hover {
  margin-top: 0px;
  height: 8px;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background:  var(--link-text-hover);
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
  box-shadow: -407px 0 0 400px var(--progressbar-active-bg);
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background:  var(--link-text-hover);
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
  box-shadow: -407px 0 0 400px var(--progressbar-active-bg);
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background:  var(--link-text-hover);
  box-shadow: 1 2 2px 0 #555;
  transition: background .3s ease-in-out;
  box-shadow: -407px 0 0 400px var(--progressbar-active-bg);
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
    background: var(--progressbar-player-bg);

}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
    background: var(--progressbar-player-bg);

}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
    background: var(--progressbar-player-bg);

}