@tailwind base;
@tailwind components;
@tailwind utilities;


*,
::after,
::before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  transition: all .1s linear;
}

html,
body {
  -webkit-tap-highlight-color: transparent;
  color: var(--text-primary);
  overflow: hidden;
}

img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

.main {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: var(--layout-bg);
  background-repeat: no-repeat;
  background-size: 1920px auto;
  height: 100vh;
  width: 100%;
  display: flex;
}

.icon {
    border-radius: 4px;
    display: inline-block;
    flex-shrink: 0;
    font-size: 24px;
    height: 24px;
    line-height: 66%;
    width: 24px;
    position: relative;
}
.icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
transform: translate(-50%, -50%);
}